[run]
omit =
        *test*
        *__init__*
        *__name__*

[report]
exclude_lines = 
        pragma: no cover
        if __name__ == '__main__':
        if __name__ == .__main__.:
        if __name__ == "__main__":
